c Dokazujemo da je formula (A => B) /\ (~A => B) => B tautologija.
c To radimo tako sto pokazemo da je njena negacija (svedena na CNF)
c nezadovoljiva. Negacija ove formule je (~A\/B)/\(A\/B)/\(~B).
p cnf 2 3
-1 2 0
1 2 0
-2 0
